<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b812b0fd-af9b-457f-bc3b-13c106b0d0c5" Alias="Application Steps Block List" Level="1">
  <Info>
    <Name>Application Steps Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "00511523-6e97-4bcf-abc0-94792dc98ead"
    }
  ]
}]]></Config>
</DataType>