<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81269144-c5fb-4ab5-8e89-32cea08f6f37" Alias="Audience Type" Level="1">
  <Info>
    <Name>Audience Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Tourists",
    "Locals"
  ]
}]]></Config>
</DataType>