<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d65196a7-05d6-4f4b-9953-a44a6b1ee736" Alias="Benefits Block List" Level="1">
  <Info>
    <Name>Benefits Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5736f1c6-4200-4e9f-a719-aa87a5df2664"
    }
  ]
}]]></Config>
</DataType>