<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18d94079-2eb6-4fc7-9464-4d660e4e6751" Alias="Benefit Type" Level="1">
  <Info>
    <Name>Benefit Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial",
    "Subsidy",
    "Training",
    "Service",
    "Other"
  ]
}]]></Config>
</DataType>