<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60f6e5d3-5acc-44b2-bfc0-1d4f7dde744c" Alias="Category Type" Level="1">
  <Info>
    <Name>Category Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Age",
    "Income",
    "Occupation",
    "Residence",
    "Education",
    "Gender",
    "Other"
  ]
}]]></Config>
</DataType>