<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9fed545a-88f9-4e65-989e-08f72d58a90a" Alias="Department Contacts Block List" Level="1">
  <Info>
    <Name>Department Contacts Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7151d1bb-3b3c-4dca-9cf4-7646275f6ec1"
    }
  ]
}]]></Config>
</DataType>