<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aed3f811-fadf-4df5-8e38-f09bde1912ae" Alias="Hotel - rating - Decimal Property Editor UI" Level="1">
  <Info>
    <Name>Hotel - rating - Decimal Property Editor UI</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 5,
  "min": 1,
  "step": "0.01"
}]]></Config>
</DataType>