<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53cc3215-98dd-432c-b920-4c4aad59dcbf" Alias="Link Group - Select Link - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Link Group - Select Link - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1077ad26-6727-4972-ad58-9f363176372a",
      "label": "{linkText}",
      "editorSize": "medium",
      "iconColor": "Red"
    }
  ]
}]]></Config>
</DataType>