<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e7f44252-b010-4792-adaf-cb5dba2ef83c" Alias="Place Type" Level="1">
  <Info>
    <Name>Place Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Fort",
    "Temple",
    "Nature",
    "Museum"
  ]
}]]></Config>
</DataType>