<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8a6737d7-0198-4d5f-9a2b-cd6035f9c2b2" Alias="Required Documents Block List" Level="1">
  <Info>
    <Name>Required Documents Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "376081bd-5798-41da-a43f-a54a21cd7e47"
    }
  ]
}]]></Config>
</DataType>