<?xml version="1.0" encoding="utf-8"?>
<DataType Key="775e8824-3931-4b80-9fe1-f981cbc9fd61" Alias="Root - Select Hotels - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Root - Select Hotels - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8ac4035a-6868-424e-8fff-93a3e905dd9f"
    }
  ],
  "validationLimit": {
    "max": 5
  }
}]]></Config>
</DataType>