<?xml version="1.0" encoding="utf-8"?>
<DataType Key="212e184b-b652-4a8c-8b88-17b08e532ea5" Alias="Root - Footer Links - Block Grid Property Editor UI (1)" Level="1">
  <Info>
    <Name>Root - Footer Links - Block Grid Property Editor UI (1)</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7cb870d7-3597-495d-85d9-5a5a10797378"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>