<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f103d053-12a1-4cb3-ad2a-62be685551a5" Alias="Root - adsa - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Root - adsa - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4bbcbc87-34a1-42be-bedf-1cc3489c34d9",
      "label": "{socialLinkName}"
    }
  ]
}]]></Config>
</DataType>