<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c16826a2-c071-4faf-b5f6-004efb92e212" Alias="Root - Footer Links - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Root - Footer Links - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2f8f5c2f-4f2a-4cd9-beab-e675157e3a03",
      "label": "{groupName}"
    }
  ]
}]]></Config>
</DataType>