<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d376f983-0671-4291-98ff-fe4f75fc439e" Alias="Root - Footer Links - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Root - Footer Links - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2f8f5c2f-4f2a-4cd9-beab-e675157e3a03"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>