<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce944062-3856-4760-b7c7-4186a56fe7b1" Alias="Root - Footer Links - Block List Property Editor UI (1)" Level="1">
  <Info>
    <Name>Root - Footer Links - Block List Property Editor UI (1)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7cb870d7-3597-495d-85d9-5a5a10797378"
    }
  ]
}]]></Config>
</DataType>