<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85d23527-66be-480b-a8fa-ad8f3b0102fd" Alias="Root - Select Schemes - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Root - Select Schemes - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e3f9d629-2881-4adc-8b31-e0145d783c48"
    }
  ],
  "validationLimit": {
    "max": 5
  }
}]]></Config>
</DataType>