<?xml version="1.0" encoding="utf-8"?>
<DataType Key="126cc519-5b7c-4838-818f-f1e00f8fa5a9" Alias="Root - Select Places - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Root - Select Places - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e668603e-37d6-42c2-bee5-e7afdb3ef5ef"
    }
  ],
  "validationLimit": {
    "max": 5
  }
}]]></Config>
</DataType>