<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e93977f4-2b20-47a4-8036-4b2a8e9f5fe0" Alias="Scheme Level" Level="1">
  <Info>
    <Name>Scheme Level</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Central",
    "State",
    "District"
  ]
}]]></Config>
</DataType>