<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0f00740-a669-407c-a9e8-3aef0c8f5c66" Alias="Scheme Type" Level="1">
  <Info>
    <Name>Scheme Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Education",
    "Agriculture",
    "Health",
    "Employment",
    "Women Welfare",
    "Housing",
    "Pension",
    "Other"
  ]
}]]></Config>
</DataType>