<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fde67302-af19-446f-a068-e90a2e64285c" Alias="Scheme Eligibility Block List" Level="1">
  <Info>
    <Name>Scheme Eligibility Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1d33ff43-9f3a-4c2a-80ee-7a90b3475d35"
    }
  ]
}]]></Config>
</DataType>