<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e9336a59-beb7-46ef-8397-f6ad1858811f" Alias="Social Type" Level="1">
  <Info>
    <Name>Social Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "X (Twitter)",
    "YouTube",
    "WhatsApp",
    "LinkedIn"
  ]
}]]></Config>
</DataType>