<?xml version="1.0" encoding="utf-8"?>
<DataType Key="69b802ed-3a2d-4edd-afba-22c9f4ff04aa" Alias="Status Type" Level="1">
  <Info>
    <Name>Status Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Active",
    "Closed",
    "Upcoming"
  ]
}]]></Config>
</DataType>