<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54a34298-ad9b-4db8-b16f-b952d2c5d597" Alias="Stay Type" Level="1">
  <Info>
    <Name>Stay Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Hotel",
    "Lodge",
    "Resort",
    "Homestay"
  ]
}]]></Config>
</DataType>