<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf82af07-ebec-4a78-98f8-5110df2911a5" Alias="Target Audience List" Level="1">
  <Info>
    <Name>Target Audience List</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CheckBoxList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Target Audience",
    "Students",
    "Women",
    "Senior Citizens",
    "Unemployed",
    "Business Owners",
    "General Public"
  ]
}]]></Config>
</DataType>