<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e67b3f57-2ddc-4b9e-875f-0ced4011bd4a" Alias="touristPlaces- Travel Options - Block List Property Editor UI" Level="1">
  <Info>
    <Name>touristPlaces- Travel Options - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4e0ba0b2-f858-4dc7-a6ce-9b8b27f07de0",
      "label": "{transportType} - {estimatedTime}"
    }
  ]
}]]></Config>
</DataType>