<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce2cb053-b50f-42a5-8bcb-5924d471a314" Alias="touristPlace - Select Hotels - Block List Property Editor UI" Level="1">
  <Info>
    <Name>touristPlace - Select Hotels - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f5d87d20-0ee5-4760-8d45-e6d0a3864790"
    }
  ],
  "validationLimit": {
    "max": 10
  }
}]]></Config>
</DataType>