<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c9063969-e2f2-49ee-9b68-d11bbbe183ce" Alias="touristPlace - Near by stays" Level="1">
  <Info>
    <Name>touristPlace - Near by stays</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "86d61b55-c109-4197-bd96-b79e3dd4ef60",
  "ignoreUserStartNodes": false,
  "maxNumber": 10,
  "minNumber": 0,
  "showOpenButton": true,
  "startNode": {
    "type": "content"
  }
}]]></Config>
</DataType>