<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c29fc88-4493-4396-87c6-04d1369a929a" Alias="Transport Mode" Level="1">
  <Info>
    <Name>Transport Mode</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Bus",
    "Train",
    "Airport"
  ]
}]]></Config>
</DataType>