<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c90ea29-8751-446f-b4c3-777475925ce5" Alias="Transport Type" Level="1">
  <Info>
    <Name>Transport Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Road",
    "Rail",
    "Air"
  ]
}]]></Config>
</DataType>