<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="86d61b55-c109-4197-bd96-b79e3dd4ef60" Alias="hotels" Level="1">
  <Info>
    <Name>Hotels</Name>
    <Icon>icon-food color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>4cefc0fa-50a2-4ea8-ac81-2cea1ae531a0</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="112798af-260c-4ab9-b541-eac7a5c35273" SortOrder="0">hotel</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>