<?xml version="1.0" encoding="utf-8"?>
<Media Key="10941d60-e5df-40ad-a3af-6c2bc5a8f271" Alias="addtext_com_MTUxMDU5NDgwNDU-960x386.jpg" Level="2">
  <Info>
    <Parent Key="efd8fb7e-27ce-43f4-bb61-19c65bda3065">Banners</Parent>
    <Path>/Banners/addtext_com_MTUxMDU5NDgwNDU960x386jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-31T18:25:35</CreateDate>
    <NodeName Default="addtext_com_MTUxMDU5NDgwNDU-960x386.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/35lnfjvw/addtext_com_mtuxmdu5ndgwndu-960x386.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>