<?xml version="1.0" encoding="utf-8"?>
<Media Key="09155d1e-076b-411d-bca0-e813463f6499" Alias="Banner3.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banner3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-20T20:21:12</CreateDate>
    <NodeName Default="Banner3.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sglfhpyc/banner3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>