<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a2b1868-513e-42fc-b12e-3f0ed0ae4017" Alias="banner4.png (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/banner4png2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-21T14:47:44</CreateDate>
    <NodeName Default="banner4.png (2)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/25jg1pcx/banner4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>