<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c7e4708-4859-4bc7-a3c6-139c11cdb10a" Alias="Banner4.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banner4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-20T20:21:12</CreateDate>
    <NodeName Default="Banner4.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/q4gdqkrq/banner4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>