<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2dbaa9e-4dcd-4938-9e6c-899eaa895629" Alias="Banner1.jpg" Level="2">
  <Info>
    <Parent Key="efd8fb7e-27ce-43f4-bb61-19c65bda3065">Banners</Parent>
    <Path>/Banners/Banner1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-31T18:25:35</CreateDate>
    <NodeName Default="Banner1.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cfqj0vfe/banner1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>