<?xml version="1.0" encoding="utf-8"?>
<Media Key="fce79ab5-acb5-4684-bdfd-f9710a173193" Alias="beautiful-beach-banner-white-sand-and-coco-palms-travel-tourism-blue-sky-generative-ai-free-photo.jpeg" Level="2">
  <Info>
    <Parent Key="efd8fb7e-27ce-43f4-bb61-19c65bda3065">Banners</Parent>
    <Path>/Banners/beautifulBeachBannerWhiteSandAndCocoPalmsTravelTourismBlueSkyGenerativeAiFreePhotojpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-31T18:25:35</CreateDate>
    <NodeName Default="beautiful-beach-banner-white-sand-and-coco-palms-travel-tourism-blue-sky-generative-ai-free-photo.jpeg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hjikcsw2/beautiful-beach-banner-white-sand-and-coco-palms-travel-tourism-blue-sky-generative-ai-free-photo.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>