<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a7e934d-c882-4833-83b3-7651da02e2ac" Alias="devbag-beach.jpg" Level="2">
  <Info>
    <Parent Key="efd8fb7e-27ce-43f4-bb61-19c65bda3065">Banners</Parent>
    <Path>/Banners/devbagBeachjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-31T18:25:35</CreateDate>
    <NodeName Default="devbag-beach.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yjmdrdhl/devbag-beach.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>