<?xml version="1.0" encoding="utf-8"?>
<Media Key="7840f83c-95f1-42c2-b667-7979fdc06418" Alias="Goa--Bardez-Candolim_5TaDy0z.jpg" Level="2">
  <Info>
    <Parent Key="efd8fb7e-27ce-43f4-bb61-19c65bda3065">Banners</Parent>
    <Path>/Banners/GoaBardezCandolim_5TaDy0zjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-31T18:25:35</CreateDate>
    <NodeName Default="Goa--Bardez-Candolim_5TaDy0z.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wmzantuy/goa-bardez-candolim_5tady0z.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>