<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa358f0e-b861-4da5-8e98-0d3ff676da1b" Alias="golven-beach-resort.jpg" Level="2">
  <Info>
    <Parent Key="621b01d0-47ec-4099-8ac2-48e9fdcff549">Hotels</Parent>
    <Path>/Hotels/golvenBeachResortjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T19:54:54</CreateDate>
    <NodeName Default="golven-beach-resort.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qfchghai/golven-beach-resort.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>