<?xml version="1.0" encoding="utf-8"?>
<Media Key="621b01d0-47ec-4099-8ac2-48e9fdcff549" Alias="Hotels" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hotels</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-01T19:50:27</CreateDate>
    <NodeName Default="Hotels" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>