<?xml version="1.0" encoding="utf-8"?>
<Media Key="c75c06bf-7eb6-402c-801c-14499d43b06f" Alias="IMG-20191229-WA0070-e1636645217787.jpg" Level="2">
  <Info>
    <Parent Key="efd8fb7e-27ce-43f4-bb61-19c65bda3065">Banners</Parent>
    <Path>/Banners/IMG20191229WA0070E1636645217787jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-31T18:25:35</CreateDate>
    <NodeName Default="IMG-20191229-WA0070-e1636645217787.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gdgbu2o5/img-20191229-wa0070-e1636645217787.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>