<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6e56890-b806-4627-a214-2058f43c513b" Alias="Mauli.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Maulijpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-22T12:20:25</CreateDate>
    <NodeName Default="Mauli.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d4rkgudp/mauli.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>