<?xml version="1.0" encoding="utf-8"?>
<Media Key="c28aa7cf-7a80-4959-8171-4a0d3cfa0d6a" Alias="OIP (3).webp" Level="2">
  <Info>
    <Parent Key="621b01d0-47ec-4099-8ac2-48e9fdcff549">Hotels</Parent>
    <Path>/Hotels/OIP3Webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T19:54:54</CreateDate>
    <NodeName Default="OIP (3).webp" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ibwny3hj/oip-3.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>