<?xml version="1.0" encoding="utf-8"?>
<Media Key="10851c98-62ee-4eee-99fb-a4489120063a" Alias="OIP (2).webp" Level="2">
  <Info>
    <Parent Key="621b01d0-47ec-4099-8ac2-48e9fdcff549">Hotels</Parent>
    <Path>/Hotels/OIP2Webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T19:54:54</CreateDate>
    <NodeName Default="OIP (2).webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/c5lmhjuh/oip-2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>