<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2b3bc8e-6122-4d0e-87cd-9d78fded0401" Alias="OIP.webp" Level="2">
  <Info>
    <Parent Key="621b01d0-47ec-4099-8ac2-48e9fdcff549">Hotels</Parent>
    <Path>/Hotels/OIPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-01T19:54:54</CreateDate>
    <NodeName Default="OIP.webp" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/af1pkzcl/oip.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>