<?xml version="1.0" encoding="utf-8"?>
<Media Key="9423d056-8dd6-4b14-a892-ade50fee3174" Alias="OIP.webp" Level="2">
  <Info>
    <Parent Key="efd8fb7e-27ce-43f4-bb61-19c65bda3065">Banners</Parent>
    <Path>/Banners/OIPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-31T18:25:35</CreateDate>
    <NodeName Default="OIP.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1engkiv5/oip.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>