<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb43f1f0-83a2-4641-b653-7f36daeccb35" Alias="Sindhudurg-Fort.jpg" Level="2">
  <Info>
    <Parent Key="efd8fb7e-27ce-43f4-bb61-19c65bda3065">Banners</Parent>
    <Path>/Banners/SindhudurgFortjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-31T18:25:35</CreateDate>
    <NodeName Default="Sindhudurg-Fort.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/p23bktol/sindhudurg-fort.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>