<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb26a31a-de59-4109-800d-b491172f83a3" Alias="vagator-beach-1-1024x489.jpg" Level="2">
  <Info>
    <Parent Key="efd8fb7e-27ce-43f4-bb61-19c65bda3065">Banners</Parent>
    <Path>/Banners/vagatorBeach11024x489jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-31T18:25:35</CreateDate>
    <NodeName Default="vagator-beach-1-1024x489.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/svuhaxjq/vagator-beach-1-1024x489.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>