<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a78b114-557b-4821-9ed7-84f352f20288" Alias="WhatsApp Image 2025-12-19 at 1.55.26 PM.jpeg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsAppImage20251219At15526PMjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-20T20:13:17</CreateDate>
    <NodeName Default="WhatsApp Image 2025-12-19 at 1.55.26 PM.jpeg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tn3d3las/whatsapp-image-2025-12-19-at-15526-pm.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>