<?xml version="1.0" encoding="utf-8"?>
<Media Key="6119b293-f472-4cbd-b4e9-6290e3b14b08" Alias="WhatsApp Image Logo.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsAppImageLogojpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-22T12:20:26</CreateDate>
    <NodeName Default="WhatsApp Image Logo.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dr2f5vy1/whatsapp-image-logo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>