<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed415763-2605-4ec7-b029-1a39fc6cc166" Alias="Government Schemes" Level="3">
  <Info>
    <Parent Key="03d9637f-8d90-4938-a0f8-980788cb7181">Ratnagiri</Parent>
    <Path>/Home/Ratnagiri/GovernmentSchemes</Path>
    <Trashed>false</Trashed>
    <ContentType>schemes</ContentType>
    <CreateDate>2025-12-22T00:28:53</CreateDate>
    <NodeName Default="Government Schemes" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>