<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b22d4cd-44d0-455a-a12a-c02be7bae1ab" Alias="Government Schemes" Level="3">
  <Info>
    <Parent Key="8eaaed61-1965-4688-800b-b4f654dee3ca">Sindhudurg</Parent>
    <Path>/Home/Sindhudurg/GovernmentSchemes</Path>
    <Trashed>false</Trashed>
    <ContentType>schemes</ContentType>
    <CreateDate>2025-12-22T00:28:12</CreateDate>
    <NodeName Default="Government Schemes" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>