<?xml version="1.0" encoding="utf-8"?>
<Content Key="3da194ec-91d9-4402-8e2c-18c89b7ec41a" Alias="Hotels" Level="3">
  <Info>
    <Parent Key="8eaaed61-1965-4688-800b-b4f654dee3ca">Sindhudurg</Parent>
    <Path>/Home/Sindhudurg/Hotels</Path>
    <Trashed>false</Trashed>
    <ContentType>hotels</ContentType>
    <CreateDate>2025-12-22T15:56:57</CreateDate>
    <NodeName Default="Hotels" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>