<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e6bbfa6-fcde-4826-a692-3061013318a4" Alias="Hotels" Level="2">
  <Info>
    <Parent Key="6c671b9c-ffaf-4b5a-a725-e821891307c3">Home</Parent>
    <Path>/Home/Hotels</Path>
    <Trashed>false</Trashed>
    <ContentType>hotels</ContentType>
    <CreateDate>2026-01-17T19:28:01</CreateDate>
    <NodeName Default="Hotels" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>