<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a52f1fa-6572-4f51-bc1c-c950ec442052" Alias="SAi Hotel" Level="4">
  <Info>
    <Parent Key="3da194ec-91d9-4402-8e2c-18c89b7ec41a">Hotels</Parent>
    <Path>/Home/Sindhudurg/Hotels/SAiHotel</Path>
    <Trashed>false</Trashed>
    <ContentType>hotel</ContentType>
    <CreateDate>2025-12-22T15:57:58</CreateDate>
    <NodeName Default="SAi Hotel">
      <Name Culture="en-US">SAi Hotel</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[asfasfasf]]></Value>
    </address>
    <amenities>
      <Value><![CDATA[]]></Value>
    </amenities>
    <bookingLink>
      <Value><![CDATA[[
  {
    "name": "Book NOw",
    "target": null,
    "udi": null,
    "url": "dsdfsdfsdfsd",
    "queryString": null
  }
]]]></Value>
    </bookingLink>
    <contactNumber>
      <Value><![CDATA[2354678]]></Value>
    </contactNumber>
    <hotelName>
      <Value><![CDATA[SAi Hotel]]></Value>
    </hotelName>
    <images>
      <Value><![CDATA[[
  {
    "key": "68e22177-69fd-4d92-b6c0-2f7dd47c9424",
    "mediaKey": "c28aa7cf-7a80-4959-8171-4a0d3cfa0d6a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "459b7ec9-bab1-409e-b4b7-fdf8beb6d615",
    "mediaKey": "530ad045-6972-4816-90eb-a1ffc5c1a5d5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "7eb72cfa-14ef-4677-aa7e-ad236200eedb",
    "mediaKey": "aa358f0e-b861-4da5-8e98-0d3ff676da1b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "9c0de3ff-108e-4761-8b5f-36e05c31a724",
    "mediaKey": "d2b3bc8e-6122-4d0e-87cd-9d78fded0401",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "434607fb-662d-4137-b277-a97af8200694",
    "mediaKey": "10851c98-62ee-4eee-99fb-a4489120063a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <location>
      <Value><![CDATA[2432432,23423424]]></Value>
    </location>
    <priceRange>
      <Value><![CDATA[500]]></Value>
    </priceRange>
    <rating>
      <Value><![CDATA[4]]></Value>
    </rating>
    <stayType>
      <Value><![CDATA[[
  "Hotel"
]]]></Value>
    </stayType>
  </Properties>
</Content>