<?xml version="1.0" encoding="utf-8"?>
<Content Key="b76a47f7-51e7-415f-99ae-eed563d91328" Alias="SAngam Hotel" Level="3">
  <Info>
    <Parent Key="5e6bbfa6-fcde-4826-a692-3061013318a4">Hotels</Parent>
    <Path>/Home/Hotels/SAngamHotel</Path>
    <Trashed>false</Trashed>
    <ContentType>hotel</ContentType>
    <CreateDate>2026-01-17T19:32:00</CreateDate>
    <NodeName Default="SAngam Hotel">
      <Name Culture="en-US">SAngam Hotel</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Karad]]></Value>
    </address>
    <amenities>
      <Value><![CDATA[[
  "Free Wi-Fi",
  "Air Conditioner ",
  "Coffee and Tea Kits"
]]]></Value>
    </amenities>
    <bookingLink>
      <Value><![CDATA[[
  {
    "name": "book",
    "target": null,
    "udi": null,
    "url": "",
    "queryString": "#drgdgted"
  }
]]]></Value>
    </bookingLink>
    <contactNumber>
      <Value><![CDATA[2424234]]></Value>
    </contactNumber>
    <hotelName>
      <Value><![CDATA[SAngam Hotel]]></Value>
    </hotelName>
    <images>
      <Value><![CDATA[[
  {
    "key": "4dbdcfea-61d8-4aa1-acdf-510124adf6aa",
    "mediaKey": "76187eb0-42fe-401a-bdc7-d0c1e9c887da",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "316b823e-6a07-4f77-89b1-6c62b8eff875",
    "mediaKey": "09155d1e-076b-411d-bca0-e813463f6499",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <location>
      <Value><![CDATA[24234,34535]]></Value>
    </location>
    <priceRange>
      <Value><![CDATA[4000-7000]]></Value>
    </priceRange>
    <rating>
      <Value><![CDATA[4]]></Value>
    </rating>
    <stayType>
      <Value><![CDATA[[
  "Hotel"
]]]></Value>
    </stayType>
  </Properties>
</Content>