<?xml version="1.0" encoding="utf-8"?>
<Content Key="858ad100-20f9-4259-b279-db0da36f2941" Alias="SAngam Hotel" Level="4">
  <Info>
    <Parent Key="3da194ec-91d9-4402-8e2c-18c89b7ec41a">Hotels</Parent>
    <Path>/Home/Sindhudurg/Hotels/SAngamHotel</Path>
    <Trashed>false</Trashed>
    <ContentType>hotel</ContentType>
    <CreateDate>2025-12-22T15:58:53</CreateDate>
    <NodeName Default="SAngam Hotel">
      <Name Culture="en-US">SAngam Hotel</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[asdasdas]]></Value>
    </address>
    <amenities>
      <Value><![CDATA[]]></Value>
    </amenities>
    <bookingLink>
      <Value><![CDATA[]]></Value>
    </bookingLink>
    <contactNumber>
      <Value><![CDATA[32456789]]></Value>
    </contactNumber>
    <hotelName>
      <Value><![CDATA[SAngam Hotel]]></Value>
    </hotelName>
    <images>
      <Value><![CDATA[[
  {
    "key": "afe28c15-8cff-4523-a9b3-8ca1eb095938",
    "mediaKey": "d2b3bc8e-6122-4d0e-87cd-9d78fded0401",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c6e1751e-0674-498c-8d48-f01583593b3e",
    "mediaKey": "aa358f0e-b861-4da5-8e98-0d3ff676da1b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "fceea45c-f753-499c-9f09-59ce408ca44b",
    "mediaKey": "d2b3bc8e-6122-4d0e-87cd-9d78fded0401",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "0466c688-d163-42dc-b622-3c47c0cbedf8",
    "mediaKey": "c28aa7cf-7a80-4959-8171-4a0d3cfa0d6a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <priceRange>
      <Value><![CDATA[5000]]></Value>
    </priceRange>
    <rating>
      <Value><![CDATA[2]]></Value>
    </rating>
    <stayType>
      <Value><![CDATA[[
  "Resort"
]]]></Value>
    </stayType>
  </Properties>
</Content>