<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e2f9f79-b4ca-4628-b0f1-b2fe75da2a16" Alias="Shayyaji Hotel" Level="3">
  <Info>
    <Parent Key="5e6bbfa6-fcde-4826-a692-3061013318a4">Hotels</Parent>
    <Path>/Home/Hotels/ShayyajiHotel</Path>
    <Trashed>false</Trashed>
    <ContentType>hotel</ContentType>
    <CreateDate>2026-01-17T19:33:58</CreateDate>
    <NodeName Default="Shayyaji Hotel">
      <Name Culture="en-US">Shayyaji Hotel</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Ratnagiri]]></Value>
    </address>
    <amenities>
      <Value><![CDATA[]]></Value>
    </amenities>
    <bookingLink>
      <Value><![CDATA[]]></Value>
    </bookingLink>
    <contactNumber>
      <Value><![CDATA[2456]]></Value>
    </contactNumber>
    <hotelName>
      <Value><![CDATA[Shayyaji Hotel]]></Value>
    </hotelName>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <priceRange>
      <Value><![CDATA[66666]]></Value>
    </priceRange>
    <rating>
      <Value><![CDATA[]]></Value>
    </rating>
    <stayType>
      <Value><![CDATA[[
  "Resort"
]]]></Value>
    </stayType>
  </Properties>
</Content>