<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7aa896d-6874-4232-8fec-85a4f4e531a6" Alias="Sindhudurg Fort" Level="4">
  <Info>
    <Parent Key="6f931651-3380-4854-8d56-477257b50d34">Tourist Places</Parent>
    <Path>/Home/Sindhudurg/TouristPlaces/SindhudurgFort</Path>
    <Trashed>false</Trashed>
    <ContentType>touristPlace</ContentType>
    <CreateDate>2025-12-22T12:19:10</CreateDate>
    <NodeName Default="Sindhudurg Fort">
      <Name Culture="en-US">Sindhudurg Fort</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bestSeason>
      <Value><![CDATA[Winter]]></Value>
    </bestSeason>
    <description>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003Esafuas fuksagfuisadfsadfasdfsafsda\u003C/p\u003E\n\u003Cp\u003Esadfsadi hfluiasdfsa fgsad sad bgfasuidf sa\u003C/p\u003E\n\u003Cp\u003Egd. sakghiuasdg sagd sadgh isadg asdgasdgssa asdg adsg\u003C/p\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E\n\u003Cp\u003E\u0026nbsp; \u0026nbsp;\u0026nbsp;\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </description>
    <entryFee>
      <Value><![CDATA[45]]></Value>
    </entryFee>
    <images>
      <Value><![CDATA[[
  {
    "key": "94cc3e9d-e566-489e-a5f6-61c34f54bb3f",
    "mediaKey": "8bee9f36-a10b-4a20-83f7-a6126e8a3ce5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "7eab790a-f4ba-4d19-ae53-9890031bea37",
    "mediaKey": "2834c5f9-d6b5-4748-addf-82a55be8cb83",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "402a2c9c-925e-4b77-8c78-f91223d74c19",
    "mediaKey": "229796b8-23b9-4fc2-b17c-c3fcf3bbd118",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "00c41c01-a687-4ced-8980-a0cba6668f47",
    "mediaKey": "09155d1e-076b-411d-bca0-e813463f6499",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "05bc47e7-186c-4782-af01-17f42f5d67ca",
    "mediaKey": "9c7e4708-4859-4bc7-a3c6-139c11cdb10a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <location>
      <Value><![CDATA[17.286501, 74.181427]]></Value>
    </location>
    <placeName>
      <Value><![CDATA[Sindhudurg Fort]]></Value>
    </placeName>
    <placeType>
      <Value><![CDATA[[
  "Fort"
]]]></Value>
    </placeType>
    <selectHotels>
      <Value><![CDATA[]]></Value>
    </selectHotels>
    <shortDescription>
      <Value><![CDATA[av fysgfyu gasluif sahdifh aslifnh asuli fho;sahfd osjdf shfoiasf
asf uashdfiulashdlfashoif; haso;dfh aso;idhf sadf asgdasdg]]></Value>
    </shortDescription>
    <travelOptions>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4e0ba0b2-f858-4dc7-a6ce-9b8b27f07de0",
      "key": "5f2ae875-cf19-41a6-8c6c-b518aad2f3c1",
      "udi": null,
      "values": [
        {
          "alias": "transportType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Road"
          ]
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "setevtkuke iug ugiasifasidfsadf"
        },
        {
          "alias": "distance",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "asdfsdf asf asf as"
        },
        {
          "alias": "estimatedTime",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4Hour"
        }
      ]
    },
    {
      "contentTypeKey": "4e0ba0b2-f858-4dc7-a6ce-9b8b27f07de0",
      "key": "75f6d151-3b6d-4a8d-84f7-6fa02c3e9c4c",
      "udi": null,
      "values": [
        {
          "alias": "transportType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Rail"
          ]
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sfj vasufsvdfkudsglisdg sd\ng ds gdsfgdsfgdsf"
        },
        {
          "alias": "distance",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "45Km"
        },
        {
          "alias": "estimatedTime",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1hr"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5f2ae875-cf19-41a6-8c6c-b518aad2f3c1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "75f6d151-3b6d-4a8d-84f7-6fa02c3e9c4c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5f2ae875-cf19-41a6-8c6c-b518aad2f3c1",
        "contentUdi": "umb://element/5f2ae875cf1941a68c6cb518aad2f3c1",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "75f6d151-3b6d-4a8d-84f7-6fa02c3e9c4c",
        "contentUdi": "umb://element/75f6d1513b6d4a8d84f76fa02c3e9c4c",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </travelOptions>
    <visitingHours>
      <Value><![CDATA[11 Am to 6 PM]]></Value>
    </visitingHours>
  </Properties>
</Content>