<?xml version="1.0" encoding="utf-8"?>
<Content Key="f57bf0bf-72d9-4a1f-8811-f7c75f0c8763" Alias="ssdfsdf" Level="4">
  <Info>
    <Parent Key="4b22d4cd-44d0-455a-a12a-c02be7bae1ab">Government Schemes</Parent>
    <Path>/Home/Sindhudurg/GovernmentSchemes/ssdfsdf</Path>
    <Trashed>false</Trashed>
    <ContentType>governmentScheme</ContentType>
    <CreateDate>2025-12-22T00:35:15</CreateDate>
    <NodeName Default="ssdfsdf" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <applicationMode>
      <Value><![CDATA[[
  "Online"
]]]></Value>
    </applicationMode>
    <applicationSteps>
      <Value><![CDATA[]]></Value>
    </applicationSteps>
    <applyLink>
      <Value><![CDATA[]]></Value>
    </applyLink>
    <benefits>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5736f1c6-4200-4e9f-a719-aa87a5df2664",
      "key": "c5ebf9e1-56a3-4b16-9eb1-e3c78e41803e",
      "udi": null,
      "values": [
        {
          "alias": "benefitType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Financial"
          ]
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "werwr"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c5ebf9e1-56a3-4b16-9eb1-e3c78e41803e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c5ebf9e1-56a3-4b16-9eb1-e3c78e41803e",
        "contentUdi": "umb://element/c5ebf9e156a34b169eb1e3c78e41803e",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </benefits>
    <department>
      <Value><![CDATA[sdfdsf]]></Value>
    </department>
    <departmentContacts>
      <Value><![CDATA[]]></Value>
    </departmentContacts>
    <detailedDescription>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003Edasdasdas\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </detailedDescription>
    <eligibility>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1d33ff43-9f3a-4c2a-80ee-7a90b3475d35",
      "key": "e4fd4379-7078-4fde-8af7-c710dc60d997",
      "udi": null,
      "values": [
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Age"
          ]
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sdsfsf"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e4fd4379-7078-4fde-8af7-c710dc60d997",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e4fd4379-7078-4fde-8af7-c710dc60d997",
        "contentUdi": "umb://element/e4fd437970784fde8af7c710dc60d997",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </eligibility>
    <requiredDocuments>
      <Value><![CDATA[]]></Value>
    </requiredDocuments>
    <schemeLevel>
      <Value><![CDATA[[
  "State"
]]]></Value>
    </schemeLevel>
    <schemeName>
      <Value><![CDATA[sdfsdf]]></Value>
    </schemeName>
    <schemeType>
      <Value><![CDATA[[
  "Health"
]]]></Value>
    </schemeType>
    <shortDescription>
      <Value><![CDATA[asdasdas]]></Value>
    </shortDescription>
    <status>
      <Value><![CDATA[[
  "Active"
]]]></Value>
    </status>
    <targetAudience>
      <Value><![CDATA[[
  "Target Audience",
  "Students"
]]]></Value>
    </targetAudience>
  </Properties>
</Content>