<?xml version="1.0" encoding="utf-8"?>
<Content Key="08170112-2cb7-4809-bf2c-c53b3d3f412a" Alias="Test 1" Level="4">
  <Info>
    <Parent Key="6f931651-3380-4854-8d56-477257b50d34">Tourist Places</Parent>
    <Path>/Home/Sindhudurg/TouristPlaces/Test1</Path>
    <Trashed>false</Trashed>
    <ContentType>touristPlace</ContentType>
    <CreateDate>2025-12-22T00:30:08</CreateDate>
    <NodeName Default="Test 1">
      <Name Culture="en-US">Test 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bestSeason>
      <Value><![CDATA[]]></Value>
    </bestSeason>
    <description>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003Esfsdfdsf\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </description>
    <entryFee>
      <Value><![CDATA[32423]]></Value>
    </entryFee>
    <images>
      <Value><![CDATA[[
  {
    "key": "62025cea-a9cd-466c-b0a8-6ff4391c748b",
    "mediaKey": "fb43f1f0-83a2-4641-b653-7f36daeccb35",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8d11fb6a-dd94-41b3-b058-b27ca140ae46",
    "mediaKey": "9c7e4708-4859-4bc7-a3c6-139c11cdb10a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c80f900c-5ef1-47e1-80eb-c5be3271020b",
    "mediaKey": "09155d1e-076b-411d-bca0-e813463f6499",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "9fcb8337-6aef-4d40-a4e7-7356e66f877b",
    "mediaKey": "229796b8-23b9-4fc2-b17c-c3fcf3bbd118",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c2042072-3daa-476c-aafa-2ed8972cfe1f",
    "mediaKey": "76187eb0-42fe-401a-bdc7-d0c1e9c887da",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <location>
      <Value><![CDATA[sdfsfd]]></Value>
    </location>
    <placeName>
      <Value><![CDATA[Mandir Ganapati]]></Value>
    </placeName>
    <placeType>
      <Value><![CDATA[[
  "Temple"
]]]></Value>
    </placeType>
    <selectHotels>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f5d87d20-0ee5-4760-8d45-e6d0a3864790",
      "key": "e12eaf53-bc9c-4605-ba3e-6d5f431b7f13",
      "udi": null,
      "values": [
        {
          "alias": "selectHotel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/b76a47f751e7415f99aeeed563d91328"
        }
      ]
    },
    {
      "contentTypeKey": "f5d87d20-0ee5-4760-8d45-e6d0a3864790",
      "key": "31bc8541-52e5-4b61-a272-9e6398d32c6e",
      "udi": null,
      "values": [
        {
          "alias": "selectHotel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/0e2f9f79b4ca4628b0f1b2fe75da2a16"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e12eaf53-bc9c-4605-ba3e-6d5f431b7f13",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "31bc8541-52e5-4b61-a272-9e6398d32c6e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e12eaf53-bc9c-4605-ba3e-6d5f431b7f13",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "31bc8541-52e5-4b61-a272-9e6398d32c6e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </selectHotels>
    <shortDescription>
      <Value><![CDATA[asfd saf saf safm jsakf uilsahdfi ulgsildf gshdoifgslidf bsildf sdfsdfsdf]]></Value>
    </shortDescription>
    <travelOptions>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4e0ba0b2-f858-4dc7-a6ce-9b8b27f07de0",
      "key": "183ebcc6-3f70-411c-9ed4-f2c68be8e7f8",
      "udi": null,
      "values": [
        {
          "alias": "transportType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Road"
          ]
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "erty"
        },
        {
          "alias": "distance",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SAngam Hotel"
        },
        {
          "alias": "estimatedTime",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "5000"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "183ebcc6-3f70-411c-9ed4-f2c68be8e7f8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "183ebcc6-3f70-411c-9ed4-f2c68be8e7f8",
        "contentUdi": "umb://element/183ebcc63f70411c9ed4f2c68be8e7f8",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </travelOptions>
    <visitingHours>
      <Value><![CDATA[]]></Value>
    </visitingHours>
  </Properties>
</Content>