<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f931651-3380-4854-8d56-477257b50d34" Alias="Tourist Places" Level="3">
  <Info>
    <Parent Key="8eaaed61-1965-4688-800b-b4f654dee3ca">Sindhudurg</Parent>
    <Path>/Home/Sindhudurg/TouristPlaces</Path>
    <Trashed>false</Trashed>
    <ContentType>touristPlaces</ContentType>
    <CreateDate>2025-12-22T00:27:11</CreateDate>
    <NodeName Default="Tourist Places" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>