<?xml version="1.0" encoding="utf-8"?>
<Content Key="aee84468-540c-4b25-83e6-04b8a5015edf" Alias="Tourist Places" Level="3">
  <Info>
    <Parent Key="03d9637f-8d90-4938-a0f8-980788cb7181">Ratnagiri</Parent>
    <Path>/Home/Ratnagiri/TouristPlaces</Path>
    <Trashed>false</Trashed>
    <ContentType>touristPlaces</ContentType>
    <CreateDate>2025-12-22T00:28:30</CreateDate>
    <NodeName Default="Tourist Places" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>