<?xml version="1.0" encoding="utf-8"?>
<Content Key="12fa03be-e835-4c66-872c-188b41448542" Alias="गणपतीपुळे बीच" Level="4">
  <Info>
    <Parent Key="aee84468-540c-4b25-83e6-04b8a5015edf">Tourist Places</Parent>
    <Path>/Home/Ratnagiri/TouristPlaces/</Path>
    <Trashed>false</Trashed>
    <ContentType>touristPlace</ContentType>
    <CreateDate>2026-01-01T23:04:53</CreateDate>
    <NodeName Default="गणपतीपुळे बीच">
      <Name Culture="en-US">गणपतीपुळे बीच</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bestSeason>
      <Value><![CDATA[]]></Value>
    </bestSeason>
    <description>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u0917\u0923\u092A\u0924\u0940\u092A\u0941\u0933\u0947 \u092C\u0940\u091A\u0917\u0923\u092A\u0924\u0940\u092A\u0941\u0933\u0947 \u092C\u0940\u091A\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </description>
    <entryFee>
      <Value><![CDATA[45]]></Value>
    </entryFee>
    <images>
      <Value><![CDATA[[
  {
    "key": "8fdf82d0-5bc4-4418-8b18-1443ed750906",
    "mediaKey": "e6e56890-b806-4627-a214-2058f43c513b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <location>
      <Value><![CDATA[17.286501, 74.181427]]></Value>
    </location>
    <placeName>
      <Value><![CDATA[गणपतीपुळे बीच]]></Value>
    </placeName>
    <placeType>
      <Value><![CDATA[[
  "Temple"
]]]></Value>
    </placeType>
    <selectHotels>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f5d87d20-0ee5-4760-8d45-e6d0a3864790",
      "key": "eab54737-a29d-4a26-93c0-56609cf13b98",
      "udi": null,
      "values": [
        {
          "alias": "selectHotel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/b76a47f751e7415f99aeeed563d91328"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "eab54737-a29d-4a26-93c0-56609cf13b98",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "eab54737-a29d-4a26-93c0-56609cf13b98",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </selectHotels>
    <shortDescription>
      <Value><![CDATA[गणपतीपुळे बीचगणपतीपुळे बीचगणपतीपुळे बीचगणपतीपुळे बीचगणपतीपुळे बीचगणपतीपुळे बीचगणपतीपुळे बीचगणपतीपुळे बीचगणपतीपुळे बीच]]></Value>
    </shortDescription>
    <travelOptions>
      <Value><![CDATA[]]></Value>
    </travelOptions>
    <visitingHours>
      <Value><![CDATA[]]></Value>
    </visitingHours>
  </Properties>
</Content>