<?xml version="1.0" encoding="utf-8"?>
<Content Key="e75661a1-a209-4211-b39d-ac5631b66061" Alias="जयगड किल्ला" Level="4">
  <Info>
    <Parent Key="aee84468-540c-4b25-83e6-04b8a5015edf">Tourist Places</Parent>
    <Path>/Home/Ratnagiri/TouristPlaces/</Path>
    <Trashed>false</Trashed>
    <ContentType>touristPlace</ContentType>
    <CreateDate>2026-01-01T23:04:30</CreateDate>
    <NodeName Default="जयगड किल्ला">
      <Name Culture="en-US">जयगड किल्ला</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bestSeason>
      <Value><![CDATA[]]></Value>
    </bestSeason>
    <description>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u091C\u092F\u0917\u0921 \u0915\u093F\u0932\u094D\u0932\u093E\u091C\u092F\u0917\u0921 \u0915\u093F\u0932\u094D\u0932\u093E\u091C\u092F\u0917\u0921 \u0915\u093F\u0932\u094D\u0932\u093E\u091C\u092F\u0917\u0921 \u0915\u093F\u0932\u094D\u0932\u093E\u091C\u092F\u0917\u0921 \u0915\u093F\u0932\u094D\u0932\u093E\u091C\u092F\u0917\u0921 \u0915\u093F\u0932\u094D\u0932\u093E\u091C\u092F\u0917\u0921 \u0915\u093F\u0932\u094D\u0932\u093E\u091C\u092F\u0917\u0921 \u0915\u093F\u0932\u094D\u0932\u093E\u091C\u092F\u0917\u0921 \u0915\u093F\u0932\u094D\u0932\u093E\u091C\u092F\u0917\u0921 \u0915\u093F\u0932\u094D\u0932\u093E\u091C\u092F\u0917\u0921 \u0915\u093F\u0932\u094D\u0932\u093E\u091C\u092F\u0917\u0921 \u0915\u093F\u0932\u094D\u0932\u093E\u091C\u092F\u0917\u0921 \u0915\u093F\u0932\u094D\u0932\u093E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </description>
    <entryFee>
      <Value><![CDATA[]]></Value>
    </entryFee>
    <images>
      <Value><![CDATA[[
  {
    "key": "1831eaee-4e93-48a3-bae7-74f53c738e07",
    "mediaKey": "fb43f1f0-83a2-4641-b653-7f36daeccb35",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <location>
      <Value><![CDATA[4324244324]]></Value>
    </location>
    <placeName>
      <Value><![CDATA[जयगड किल्ला]]></Value>
    </placeName>
    <placeType>
      <Value><![CDATA[[
  "Fort"
]]]></Value>
    </placeType>
    <selectHotels>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f5d87d20-0ee5-4760-8d45-e6d0a3864790",
      "key": "434f6a7a-9051-40a6-a6e5-55e749b5f592",
      "udi": null,
      "values": [
        {
          "alias": "selectHotel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/b76a47f751e7415f99aeeed563d91328"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "434f6a7a-9051-40a6-a6e5-55e749b5f592",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "434f6a7a-9051-40a6-a6e5-55e749b5f592",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </selectHotels>
    <shortDescription>
      <Value><![CDATA[जयगड किल्लाजयगड किल्लाजयगड किल्लाजयगड किल्ला]]></Value>
    </shortDescription>
    <travelOptions>
      <Value><![CDATA[]]></Value>
    </travelOptions>
    <visitingHours>
      <Value><![CDATA[]]></Value>
    </visitingHours>
  </Properties>
</Content>