<?xml version="1.0" encoding="utf-8"?>
<Content Key="aaf9ceae-df36-45bd-8105-768a32ee020b" Alias="रत्नदुर्ग किल्ला" Level="4">
  <Info>
    <Parent Key="aee84468-540c-4b25-83e6-04b8a5015edf">Tourist Places</Parent>
    <Path>/Home/Ratnagiri/TouristPlaces/</Path>
    <Trashed>false</Trashed>
    <ContentType>touristPlace</ContentType>
    <CreateDate>2026-01-01T23:03:55</CreateDate>
    <NodeName Default="रत्नदुर्ग किल्ला">
      <Name Culture="en-US">रत्नदुर्ग किल्ला</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bestSeason>
      <Value><![CDATA[]]></Value>
    </bestSeason>
    <description>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u0930\u0924\u094D\u0928\u0926\u0941\u0930\u094D\u0917 \u0915\u093F\u0932\u094D\u0932\u093E\u0930\u0924\u094D\u0928\u0926\u0941\u0930\u094D\u0917 \u0915\u093F\u0932\u094D\u0932\u093E\u0930\u0924\u094D\u0928\u0926\u0941\u0930\u094D\u0917 \u0915\u093F\u0932\u094D\u0932\u093E\u0930\u0924\u094D\u0928\u0926\u0941\u0930\u094D\u0917 \u0915\u093F\u0932\u094D\u0932\u093E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </description>
    <entryFee>
      <Value><![CDATA[]]></Value>
    </entryFee>
    <images>
      <Value><![CDATA[[
  {
    "key": "7e37bf74-2c4a-44dc-855e-988aede64f84",
    "mediaKey": "7840f83c-95f1-42c2-b667-7979fdc06418",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <location>
      <Value><![CDATA[3453453 344353]]></Value>
    </location>
    <placeName>
      <Value><![CDATA[रत्नदुर्ग किल्ला]]></Value>
    </placeName>
    <placeType>
      <Value><![CDATA[[
  "Fort"
]]]></Value>
    </placeType>
    <selectHotels>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f5d87d20-0ee5-4760-8d45-e6d0a3864790",
      "key": "e4e14f92-4476-4225-a674-354167472f24",
      "udi": null,
      "values": [
        {
          "alias": "selectHotel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/4a52f1fa65724f51bc1cc950ec442052"
        }
      ]
    },
    {
      "contentTypeKey": "f5d87d20-0ee5-4760-8d45-e6d0a3864790",
      "key": "b5054113-6a8b-4231-969f-c1a00a752886",
      "udi": null,
      "values": [
        {
          "alias": "selectHotel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/858ad10020f94259b279db0da36f2941"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e4e14f92-4476-4225-a674-354167472f24",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b5054113-6a8b-4231-969f-c1a00a752886",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e4e14f92-4476-4225-a674-354167472f24",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b5054113-6a8b-4231-969f-c1a00a752886",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </selectHotels>
    <shortDescription>
      <Value><![CDATA[रत्नदुर्ग किल्ला रत्नदुर्ग किल्लारत्नदुर्ग किल्लारत्नदुर्ग किल्लारत्नदुर्ग किल्लारत्नदुर्ग किल्ला]]></Value>
    </shortDescription>
    <travelOptions>
      <Value><![CDATA[]]></Value>
    </travelOptions>
    <visitingHours>
      <Value><![CDATA[]]></Value>
    </visitingHours>
  </Properties>
</Content>